<div class="post">
	<div class="row">
		<div class="col-sm-4">
			<% if current_user.has_liked?(post) %>
			  <%= button_to "Unlike", like_path, method: "delete", params: { user_id: current_user.id, post_id: post.id }, :class => "btn btn-secondary btn-xs" %>
			<% else %>
			  <%= button_to "Like", likes_path, method: "post", params: { user_id: current_user.id, post_id: post.id }, :class => "btn btn-primary btn-xs" %>
			<% end %>
		</div>
		<div class="col-sm-4">Author: <%= post.author.name %></div>
		<div class="col-sm-4"><%= pluralize(post.likes.count , "like")%></div>
	</div>
	<%= post.content %>
</div>