<!DOCTYPE html>
<html>
<head>
  <title>OdinFacebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="wrapper">
		<%= render 'layouts/header' %>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8"><%= yield %></div>
			<div class="col-sm-2"></div>
		</div>
		<div class="push"></div>
	</div>

	<div class="footer">
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
