<h1>Book Flight <%= @flight.number %></h1>
<div>
	<div>From airport: <%= @flight.from_airport.code %></div>
	<div>To airport: <%= @flight.to_airport.code %></div>
	<div>Departure time: <%= @flight.departure_time %></div>
	<div>Flight duration: <%= distance_of_time_in_words(@flight.flight_duration) %></div>
</div>
<hr>
<div><h2>Please fill in your credentials:</h2></div>
<%= form_for(@booking) do |booking_form| %>
  <%= booking_form.hidden_field(:flight_id, :value => @flight.id.to_s) %>
  <%= booking_form.fields_for :customers, @booking.customers do |cstr_frm| %>
    <div style="padding: 5px">
    	<div><b>Passenger information:</b></div>
    	<div><%= cstr_frm.label(:name) %>
    	<%= cstr_frm.text_field(:name) %></div>
   		<div><%= cstr_frm.label(:age) %>
 			<%= cstr_frm.text_field(:age) %></div>
 			<div><%= cstr_frm.label(:passport_nr) %>
			<%= cstr_frm.text_field(:passport_nr) %></div>
			<div><%= cstr_frm.label(:street) %>
			<%= cstr_frm.text_field(:street) %></div>
			<div><%= cstr_frm.label(:city) %>
			<%= cstr_frm.text_field(:city) %></div>
		</div>
	<% end %>
  <div><%= booking_form.submit("Book!") %></div>
<% end %>
