<h1>Show user</h1>
<div>
	User name: <%= @user.name %>
</div>
<div>
	User age: <%= @user.age %>
</div>
<br>
<div><b><%= @user.name %> has created the following events: </b></div> 
<% unless @created_events_future == nil %>
	<div><b>Future events:</b></div>
	<% @created_events_future.each do |e| %>
	  <div><%= e.description %></div>
	  <div><%= e.location %></div>
	  <div><%= e.date %></div>
	  <hr>
	<% end %>
<% end %>

<% unless @created_events_past == nil %>
	<div><b>Past events:</b></div>
	<% @created_events_past.each do |e| %>
	  <div><%= e.description %></div>
	  <div><%= e.location %></div>
	  <div><%= e.date %></div>
	  <hr>
	<% end %>
<% end %>

<div><b><%= @user.name %> has been invited to the following events: </b></div> 
<% unless @invited_events_future == nil %>
	<% @invited_events_future.each do |e| %>
	  <div><%= e.description %></div>
  	<div><%= e.location %></div>
  	<div><%= e.date %></div>
  	<hr>
	<% end %>
<% end %>

<% unless @invited_events_past == nil %>
	<% @invited_events_past.each do |e| %>
	  <div><%= e.description %></div>
  	<div><%= e.location %></div>
  	<div><%= e.date %></div>
  	<hr>
	<% end %>
<% end %>
