<h1>Show user</h1>
<div>
	User name: <%= @user.name %>
</div>
<div>
	User age: <%= @user.age %>
</div>
<br>
<% unless @events == nil %>
	<div><b><%= @user.name %> has created the following events: </b></div> 
<% end %>
<% @events.each do |e| %>
	<div><%= e.description %></div>
	<div><%= e.location %></div>
	<div><%= e.date %></div>
	<hr>
<% end %>

