<h1>All flights</h1>


<%= form_tag({controller: :flights, action: "index"}, method: "get") do %>
	<div>
		<%= label_tag(:from_airport_id, "From airport:") %>
		<%= select_tag(:from_airport_id, options_for_select(@airport_options)) %>
	</div>
	<div>
		<%= label_tag(:to_airport_id, "To airport:") %>
		<%= select_tag(:to_airport_id, options_for_select(@airport_options)) %>
	</div>
	<div>
		<%= label_tag(:nr_passengers, "Number of passengers:") %>
		<%= select_tag(:nr_passengers, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]])) %>
	</div>
	<div>
		<%= label_tag(:date, "Flight date:") %>
		<%= select_tag(:date, options_for_select(@flight_date_options)) %>
	</div>
  <%= submit_tag("Search") %>
<% end %>	

<% unless @flights == nil %>
	<% @flights.each do |f| %>
	  <div>Flight number: <%= f.number %></div>
	  <div>From: <%= f.from_airport_id %></div>
	  <div>To: <%= f.to_airport_id %></div>
	  <div>Departure at: <%= f.departure_time %></div>
	  <div>Flight duration: <%= f.flight_duration / 3600%> hrs.</div>
	  <hr>
	<% end %>
<% end %>