<h1>All flights</h1>

<%= form_tag({controller: :flights, action: "index"}, method: "get") do %>
	<div>
		<%= label_tag(:from_airport_id, "From airport:") %>
		<%= select_tag(:from_airport_id, options_for_select(@airport_options, params[:from_airport_id])) %>
	</div>
	<div>
		<%= label_tag(:to_airport_id, "To airport:") %>
		<%= select_tag(:to_airport_id, options_for_select(@airport_options, params[:to_airport_id])) %>
	</div>
	<div>
		<%= label_tag(:nr_passengers, "Number of passengers:") %>
		<%= select_tag(:nr_passengers, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]], params[:nr_passengers])) %>
	</div>
	<div>
		<%= label_tag(:departure_date, "Flight date:") %>
		<%= select_tag(:departure_date, options_for_select(@flight_date_options, params[:departure_date])) %>
	</div>
  <%= submit_tag("Search") %>
<% end %>	

<hr>
<% unless @flights == nil %>
	<%= form_tag({controller: :bookings, action: 'new'}, method: 'get') do %>
  	<% @flights.each do |f| %>
	    <div>
	    	<div>
	    	<%= radio_button_tag(:flight_id, f.id) %>
	    	<%= label_tag(:flight_id, "Flight #{f.number}") %></div>
	    	<%= hidden_field_tag(:nr_passengers, params[:nr_passengers]) %>
  	    <div>From: <%= f.from_airport_id %></div>
  	    <div>To: <%= f.to_airport_id %></div>
  	    <div>Departure at: <%= f.departure_time %></div>
  	    <div>Flight duration: <%= distance_of_time_in_words(f.flight_duration)%>.</div>
  	    <hr>
  	  </div> 
    <% end %>
    <%= submit_tag("Book") %>
	<% end %>
<% end %>
