<h1>Show Event</h1>
<div>
	Event owner: <%= @event.owner.name %>
</div>
<div>
	Event description: <%= @event.description %>
</div>
<div>
	Event location: <%= @event.location %>
</div>
<div>
	Event date: <%= @event.date %>
</div>


<% unless @invitees == nil %>
	<hr><div><b>The following people are invited tot this event: </b></div> 
<% end %>
<% @invitees.each do |u| %>
	<div>User name: <%= u.name %></div>
	<div>User age: <%= u.age %></div>
	<br>
<% end %>
