<tr class="<%= "active" if user.id == current_user.id %>">
	<td><%= user.name %></td>
	<td><%= user.age %></td>
	<td><%= user.email %></td>
	<td><%= link_to 'Show', user %></td>
	
	<% if current_user.friends_with?(user) %>
  	<td><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Your friend <span class="glyphicon glyphicon-star" aria-hidden="true"></span><td>
	<% elsif current_user.friend_request_pending?(user)  %>
	  <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Invitation send</td>
	<% elsif current_user.friend_invite_pending?(user) %>
	  <td><%= render 'accept', user: user %></td> 
	<% else %>
		<td><%= render 'invite', user: user %></td>
	<% end %>
	
	<td><%= link_to 'Edit', edit_user_path(user) if current_user.admin? %></td>
		<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %></td>
</tr>